# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# Examples binaries
examples/**/*.exe
examples/**/server.log
examples/**/server.err

# Docs (as requested)
docs/
